* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color: transparent;
    /* position: fixed; */
    width: 90%;
}

#logo {
    margin-left: 220px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    /* margin: 20px; */
}

/* flex grow 0 para poder poner space between */
.navbar-collapse {
    flex-grow: 0;
    display: flex;
    justify-content: center;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: all 0.3s;
    text-shadow: 1px 2px 6px rgb(56, 56, 56);

}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: black;
}
/* herooooooo */
.container_hero {
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    flex-direction: column;
    background-image: url(./images/foto_hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 50px;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 30px 30px rgb(14, 14, 14); */
}

.container_hero i {
    color: rgba(255, 255, 255, 0.548);
    margin-top: 300px;
    font-size: 40px;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 2px 6px rgb(56, 56, 56);
}

.foto_hero {}

/* biografia */
.biografia {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin: 80px 400px 100px 400px;
    border: 2px solid rgb(202, 27, 80);
    /* box-shadow: 10px 5px 5px rgb(225, 225, 225); */
}

.titulo_bio {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    flex-direction: column;
    text-align: center;
}

.titulo_bio i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.titulo_bio h2 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(202, 27, 80);
}

.titulo_bio p {
    font-size: 20px;
    color: white;

}

.foto_bio {
    margin: 20px;
    background-image: url(./images/patria.jpg);
    width: 550px;
    height: 700px;
    background-position: center;
    background-size: cover;
}

.texto_bio {
    width: 50vw;
    /* padding: 0px 30px 0px 50px; */
    color: white;
    width: 100%;
}

.biografia h3 {
    font-weight: bold;
    text-transform: uppercase;
}

/* servicios */
.servicios_fondo {
    background-color: black;
    padding: 20px;
}

.servicios {
    display: flex;
    flex-direction: column;
}

.servicios1 {
    border: 2px solid rgb(202, 27, 80);
    margin: 30px 300px 30px 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo_servicios i {
    margin-top: 150px;
    font-size: 50px;
    color: rgb(228, 228, 228);
}

.servicios h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.titulo_servicios {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo_servicios p {
    margin-bottom: 50px;
    color: white;
}

.titulo_servicios h2 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(202, 27, 80);
    /* margin-top: 50px; */
}

.texto_servicios p {
    color: white;
}


/* herramientass */
.herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

.herramientas img {
    margin: 0px 50px 100px 50px;
}

.titulo_herramientas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_herramientas i {
    font-size: 50px;
    margin-top: 150px;
    color: rgb(228, 228, 228);
}

.titulo_herramientas h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-items: center;
    font-weight: bold;
    color: rgb(202, 27, 80);
    margin-bottom: 40px;
}

/* trabajosssss */
.trabajos_fondo {
    background-color: black;
    padding: 50px 100px 100px 100px;
}

.trabajos_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trabajos_titulo i {
    margin-top: 120px;
    font-size: 50px;
    color: rgb(228, 228, 228);
}

.trabajos_titulo h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(202, 27, 80);

}

.trabajos1 {
    background-color: rgb(0, 0, 0);
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.trabajos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trabajos h3 {
    padding: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

.img_trabajo1 {
    background-image: url(./images/afiche.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo2 {
    background-image: url(./images/aficheta.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo3 {
    background-image: url(./images/fanzine.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo4 {
    background-image: url(./images/logo\ urban.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo5 {
    background-image: url(./images/monograma_fp.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo6 {
    background-image: url(./images/faricci1.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo7 {
    background-image: url(./images/folleto-achuritas.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo8 {
    background-image: url(./images/riverplate120.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo9 {
    background-image: url(./images/colo.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo10 {
    background-image: url(./images/rebo.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo11 {
    background-image: url(./images/fotomontaje.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}

.img_trabajo12 {
    background-image: url(./images/pressbook.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
}



/* contactooooo */
.contacto_titulo {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contacto_titulo i {
    font-size: 50px;
    color: rgb(228, 228, 228);
}

.contacto_titulo h2 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(202, 27, 80);
}

.contacto_titulo p {
    font-size: 20px;
    color: rgb(228, 228, 228);
}

.contacto {
    background-color: white;
    padding: 90px;
    margin: 50px 200px 200px 200px;
    border: solid 1px rgb(202, 27, 80);
}

.contacto .datos {
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.contacto input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
}

.contacto .datos textarea {
    border: 0px;
    border-bottom: 1px solid black;
    width: 100%;
}

.contacto .boton p {
    color: white;
    background-color: black;
    margin: 0px;
    padding: 10px 60px 10px 60px;

}

.subir i {
    position: fixed;
    right: 20px;
    bottom: 30px;
    margin-bottom: 80px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    width: 80px;
}

.subir i:hover {
    font-size: 60px;
}



/* foooterrrrrr */
footer {
    /* background: linear-gradient(to bottom , rgb(202, 27, 80), rgb(224, 78, 122)); */
    background-color: rgb(202, 27, 80);
}

footer .navv {
    display: flex;
    align-items: flex-end;
}

footer .nav_footer {
    padding: 0px;
    margin: 0px;
    list-style: circle;
    color: white;
}

footer .nav_footer a {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
    margin-left: 5px;
}

footer .nav_footer a:hover {
    color: rgb(0, 0, 0);
}

footer .navv p {
    padding-top: 10px;
    margin-left: 10px;
}

footer i {
    font-size: 40px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

footer i:hover {
    font-size: 45px;
    transform: rotate(360deg);
    transition: 2s;
}

footer .mail_redes {
    padding: 10px;
    color: white;
}


footer .mail_redes h4 {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

footer .mail_redes button {
    border: solid 1px black;
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: rgb(202, 27, 80);
}

footer .mail_redes button:hover {
    color: black;
}

footer input {
    padding: 5px;
}

.copy {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: transparent;
    padding: 5px;
}

.copy p {
    margin: 0px;
    font-size: 12px;
    color: white;
    text-align: center;
}

.mail_nav {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 40px 0px;
}


/* media queries */
@media only screen and (max-width: 1360px) {
    .trabajos_fondo {
        margin-top: 200px;
    }

    .servicios1 {
        margin: 30px 200px 30px 200px;
    }

    .biografia {
        background-color: transparent;
        flex-direction: column;
        margin: 20px 40px 20px 40px;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1150px) {

    .foto_bio {
        width: 450px;
        height: 600px;
    }

    .servicios {
        margin: 0px;
    }
}

@media only screen and (max-width: 890px) {
    .foto_bio {
        width: 250px;
        height: 400px;
    }

    .contacto {
        margin: 50px;
    }

    .contacto_titulo {
        margin-top: 100px;
    }

    #logo {
        margin-left: 100px;
    }

    .servicios1 {
        margin: 30px 100px 30px 100px;
    }
}

@media only screen and (max-width: 689px) {
    .trabajos_fondo {
        margin-top: 350px;
    }

    h1 {
        margin-top: 100px;
        font-size: 60px;
    }

    .titulo_herramientas h2 {
        font-size: 35px;
    }

    .titulo_servicios h2 {
        font-size: 35px;
    }

    .titulo_bio h2 {
        font-size: 35px;
    }

    .trabajos_titulo h2 {
        font-size: 35px;
    }

    .contacto_titulo h2 {
        font-size: 35px;
    }

    #logo {
        margin-left: 60px;
    }

    .titulo_bio {
        padding-top: 100px;
    }

    .contacto {
        padding: 30px;
        margin: 20px;
    }

    .trabajos1 div {
        width: 290px;
        height: 290px;
    }

    .subir i {
        right: 5px;
        bottom: 20px;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .trabajos1 {
        margin: 20px;
    }
}

@media only screen and (max-width: 459px) {
    .trabajos_fondo {
        margin-top: 600px;
    }

    h1 {
        margin-top: 100px;
        font-size: 40px;
    }

    .herramientas img {
        margin: 0px 50px 50px 50px;
    }

    .servicios1 {
        margin: 30px 50px 30px 50px;
    }

    .mail_nav {
        flex-direction: column;
    }

    .mail_nav .navv .nav_footer {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 449px) {
    .trabajos_fondo {
        margin-top: 800px;
    }

    #logo {
        margin-left: 30px;
    }

    .titulo_herramientas h2 {
        font-size: 25px;
    }

    .titulo_servicios h2 {
        font-size: 25px;
    }

    .titulo_bio h2 {
        font-size: 25px;
    }

    .trabajos_titulo h2 {
        font-size: 25px;
    }

    .contacto_titulo h2 {
        font-size: 25px;
    }

    .biografia {
        margin: 20px;
    }

    .servicios1 {
        margin: 10px;
    }

    .contacto .boton p {
        padding: 10px 20px 10px 20px;
    }

    footer .mail_redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mail_redes button {
        margin-bottom: 10px;

    }
}